body {
  background: #EBEBEB;
}

input {
  font-size: 16px !important;
}

.App {
  height: 100%;
}

.footer {
  position: absolute;
  font-size: 12px;
  width: 100%;
}

.App {
  text-align: center;
}

.saurl {
  font-family: "Quicksand", sans-serif;
  font-size: calc(120px + 2em);
  color: #2C365D;
  margin-top: 5%;
}

.description {
  font-size: calc(14px + 0.1em);
  margin-bottom: 1em;
}

.panel {
  padding-left: 10px;
  padding-right: 10px;
}

div.ui.container.search-bar {
  margin-top: 3em;
  margin-bottom: 2em;
  padding-right: calc(50% - 350px);
  padding-left: calc(50% - 350px);
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100%;
}

div.ui.container.copy-board {
  padding-right: calc(50% - 180px);
  padding-left: calc(50% - 180px);
  margin-right: 0 !important;
  margin-left: 0 !important;
  width: 100%;
  margin-bottom: 13em;
}
