@media screen and (min-width: 400px) and (max-width: 900px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    position: absolute;
    top: 100%;
    left: 0;
  }

  .footer {
    top: 95vw; 
  }
}

body {
  background: #EBEBEB;
}

.App {
  height: 100vh;
}

.footer {
  position: absolute;
  font-size: 12px;
  bottom: 10px; 
  width: 100%;
}

.App {
  text-align: center;
}

.saurl {
  font-family: "Quicksand", sans-serif;
  font-size: calc(120px + 2em);
  color: #2C365D;
  padding-top: 5%;
}

.description {
  font-size: calc(12px + 0.1em);
  padding-bottom: 1em;
}

.panel {
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-right: calc(50% - 500px);
  padding-left: calc(50% - 500px);
}

.copy-board {
  padding-right: calc(50% - 350px);
  padding-left: calc(50% - 350px);
}